@import "tailwindcss";

:root {
  /* ===== Core Brand Colors ===== */
  --primary: #0F203E; /* رنگ اصلی برند (متن و دکمه‌های مهم) */
  --primary-foreground: #f6f7eb; /* متن روی primary */

  --secondary: #83bcff; /* رنگ دوم (لینک‌ها، هایلایت‌ها) */
  --secondary-opacity: #83bdff51;
  --secondary-foreground: #101828;

  --accent: #136f63; /* رنگ تاکیدی (دکمه‌های خاص، hover) */
  --accent-opacity: #0bbda538;
  --accent-foreground: #f6f7eb;

  /* ===== Backgrounds & Surfaces ===== */
  --background: #f6f7eb; /* پس‌زمینه کل صفحه */
  --foreground: #101828; /* متن اصلی روی background */

  --surface: #ffffff; /* کارت‌ها، مودال‌ها، باکس‌ها */
  --surface-foreground: #101828;

  --muted: #e8e9df; /* پس‌زمینه خیلی ملایم (جایگزین #eee) */
  --muted-foreground: #6b746f; /* متن کم‌رنگ */

  /* ===== Semantic (وضعیت‌ها) ===== */
  --success: #136f63;
  --success-foreground: #f6f7eb;

  --warning: #d99a2b;
  --warning-foreground: #101828;

  --danger: #ef959d; /* از پالت خودت */
  --danger-foreground: #101828;

  /* ===== Borders & Effects ===== */
  --border: #d8d9cf; /* کمی تیره‌تر از background برای کنتراست بهتر */
  --ring: #83bcff; /* برای focus ring */

  /* ===== Shadows ===== */
  --shadow-header: 0 2px 10px rgba(0, 0, 0, 0.05);
  --shadow-sidebar: 2px 0 10px rgba(0, 0, 0, 0.05);
  --pa-1rem: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  line-height: 1.6;
  font-family: var(--font-irYekan), sans-serif;
}

.card-shadow {
  boxshadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -4px;
}
